.panda-bg-color{
    background-color: #fceae8;
}
.categories img{
    width: 110px;
}
.panda-btn-buynow{
     background: linear-gradient(rgb(243, 67, 120),rgb(247, 204, 63));
     padding: 7px 20px;
     border: none;
     border-radius: 5px;
     color: white;
}
.panda-btn-buynow:hover{
    background:linear-gradient(rgb(247, 204, 63),rgb(243, 67, 120));
}
.subscribe-btn{
    background: linear-gradient(rgb(243, 67, 120),rgb(247, 204, 63));
    padding: 7px 20px;
    border-radius: 5px;
}
.card {
    border-radius: 0px;
}