.panda-bg-color{
    background-color: #fceae8;
}
.categories img{
    width: 110px;
}
.panda-btn-buynow{
     background-color: rgb(255, 54, 114);
     padding: 7px 20px;
     border: none;
     border-radius: 5px;
     color: white;
}
.panda-btn-buynow:hover{
    background-color: rgb(253, 101, 147);
}
.subscribe-btn{
    background-color: rgb(245, 154, 182);
    padding: 7px 20px;
    
    border-radius: 5px;
}
.card {
    border-radius: 0px;
}